<%- include ("../partials/header") %>

    <div class="jumbotron">
        <h1>Add a new comment to <%= campground.name%></h1>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-sm-2 col-lg-3"></div>
        <div class="col-md-8 col-lg-6">
            <div class="card p-4">
                <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                    
                    <div class="form-group">
                        <label for="textinput">Text</label>
                        <input class="form-control mb-3" type="text" name="comment[text]" id="textinput">
                    </div>
                        <button class="btn btn-primary mb-4">Submit</button>
                </form>
            </div>
            <div class="btn btn-info mt-4">
                <a class="my-2 text-light" href="/campgrounds/<%= campground._id %>">Back</a>
            </div>
            
        </div>
    </div>


    
</div>

<%- include ("../partials/footer") %>